<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>
<br>
<br>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #EB984E ;">
  <a class="navbar-brand">Almacén</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Productos <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/marcas">Marcas</a>
      <a class="nav-item nav-link" href="/rubros">Rubros</a>
      <a class="nav-item nav-link"><% if current_user.nil?%>
        <%= link_to new_user_session_path, class: 'login-button' do%>Sign in<%end%>
        <% else %></a>
      <a class="nav-item nav-link"><%= link_to destroy_user_session_path, method: :delete do %>Log out<%end%>
        <% end %></a>
    </div>
  </div>
</nav>


<div class = "container">

<h1 align="center">Productos</h1>

<div class = "container">
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Cantidad mínima</th>
      <th scope="col">Cantidad actual</th>
      <th scope="col">Precio</th>
      <th scope="col">Activo</th>
      <th scope="col">Marca</th>
      <th scope="col">Rubro</th>
      <% if user_signed_in? %>
      <td><%= link_to 'Nuevo', productos_crear_path, class: "btn btn-success" %></td>
      <%end%>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @datos.each do |dato|%>
        <td><%= dato.id %></td>
        <td><%= dato.nombre %></td>
        <td><%= dato.cant_min %></td>
        <td><%= dato.cant_act %></td>
        <td><%= dato.precio %></td>
        <td><%= dato.activo%></td>
        <td><%= dato.marca_id %></td>
        <td><%= dato.rubro_id %></td>
        <% if user_signed_in? %>
        <td><%= link_to 'Editar', productos_editar_path(dato.id), class: "btn btn-warning" %></td>
        <td><%= link_to 'Borrar', productos_borrar_path(dato.id), class: "btn btn-danger", method: :delete %></td>
        <%end%>
  </tbody>


<%end%>
</table>
</div>
</div>
</body>
</html>
