<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #288FFD ;">
  <a class="navbar-brand">Almacén</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/productos">Productos</a>
      <a class="nav-item nav-link" href="/marcas">Marcas</a>
      <a class="nav-item nav-link active" href="../../rubros">Rubros <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link"><% if current_user.nil?%>
        <%= link_to new_user_session_path, class: 'btn btn-outline-light' do%>Sign in<%end%>
        <% else %><% if user_signed_in? %>
     <%= current_user.email %>
    <% end %></a>
      <a class="nav-item nav-link"><%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-outline-secondary' do %>Log out<%end%>
        <% end %></a>
    </div>
    </div>
  </div>
</nav>

<div class = "container">
<h1 align="center">Rubros - Editar</h1>
<br>
<br>
<%= form_with scope: @dato, url: rubros_actualizar_path, method: :PUT do |f| %>    
    <%= f.hidden_field  :id%> 
    <p>Si el nombre ingresado no es enviado, es porque ya existe uno con el mismo nombre</p>  
 <p>
 <label>Nombre</label> <br>
 <%= f.text_field :nombre, class: "form-control"%>
 </p>
 <p>
 <label>Perecedero</label> <br>
 <%= f.check_box :perecedero%>
 </p>
 <%= f.submit "Enviar", disable_with: 'Submiting...' , class: "btn btn-primary" %>
<% end %>
<br>
<br>
</div>